# Azure OpenAI configuration (Optional)
AZURE_API_KEY=your_azure_api_key_here
AZURE_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_DEPLOYMENT=gpt-5.1
AZURE_API_VERSION=2025-03-01-preview

# OpenAI API key
OPENAI_API_KEY=

# Model
OPENAI_MODEL=gpt-5.1-2025-11-13
